@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

:root {
  /* Temel Renkler */
  --bg-main: #0b0e14;          /* Derin Arka Plan */
  --text-primary: #ffffff;     /* Ana Metin */
  --text-secondary: #94a3b8;  /* İkincil Metin */
  
  /* Glassmorphism */
  --glass-white: rgba(255, 255, 255, 0.1);
  --glass-border: rgba(255, 255, 255, 0.15);
  
  --accent-blue: #38bdf8;

  --font-main: 'Plus Jakarta Sans', sans-serif;
}

body {
  /* Temel Renkler */
  --bg-main: #0b0e14;          /* Derin Arka Plan */
  --text-primary: #ffffff;     /* Ana Metin */
  --text-secondary: #94a3b8;  /* İkincil Metin */
  
  /* Glassmorphism */
  --glass-white: rgba(255, 255, 255, 0.1);
  --glass-border: rgba(255, 255, 255, 0.15);
  
  --accent-blue: #38bdf8;

  --font-main: 'Plus Jakarta Sans', sans-serif;
}